{
  "plugins": ["prettier-plugin-tailwindcss", "@trivago/prettier-plugin-sort-imports"],
  "semi": false,
  "importOrder": [
    "^[./].*(?<!\\.(module)\\.(css|scss|less))$",
    "<THIRD_PARTY_MODULES>",
    "^next(.*)$",
    "^@/components/(.*)$",
    "^@/types$",
    "^react$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "printWidth": 120
}
